<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="sign-up-form">
      <div class="row">
      <!-- Column 1 -->
      <div class="column">
      <!-- First Name -->
      <label for="firstName">First Name:</label>
      <input id="firstName" formControlName="firstName" class="form-control" />
      <div *ngIf="signUpForm.get('firstName')?.errors && signUpForm.get('firstName')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('firstName')?.errors?.['required']">* First name is required.</div>
      <div *ngIf="signUpForm.get('firstName')?.errors?.['pattern']">* Invalid First Name</div>
      </div>

            <!-- Last Name -->
      <label for="lastName">Last Name:</label>
      <input id="lastName" formControlName="lastName" class="form-control" />
      <div *ngIf="signUpForm.get('lastName')?.errors && signUpForm.get('lastName')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('lastName')?.errors?.['required']">* Last name is required.</div>
      <div *ngIf="signUpForm.get('lastName')?.errors?.['pattern']">* Invalid Last Name</div>
      </div>

            <!-- Nickname -->
      <label for="nickName">Nickname:</label>
      <input id="nickName" formControlName="nickName" class="form-control" />
      <div *ngIf="signUpForm.get('nickName')?.errors && signUpForm.get('nickName')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('nickName')?.errors?.['required']">* Nickname is required.</div>
      <div *ngIf="signUpForm.get('nickName')?.errors?.['pattern']">* Invalid Nick Name</div>
      </div>

            <!-- Date of Birth -->
      <label for="dateOfBirth">Date of Birth:</label>
      <input id="dateOfBirth" type="date" formControlName="dateOfBirth" class="form-control" />
      <div *ngIf="signUpForm.get('dateOfBirth')?.errors && signUpForm.get('dateOfBirth')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('dateOfBirth')?.errors?.['required']">* Date of Birth is required.</div>
      <div *ngIf="signUpForm.get('dateOfBirth')?.errors?.['minAge']">* Minimum age is 18 years.</div>
      </div>

            <!-- Phone -->
      <label for="contactNumber">Phone:</label>
      <input id="contactNumber" type="text" formControlName="contactNumber" class="form-control" />
      <div *ngIf="signUpForm.get('contactNumber')?.errors && signUpForm.get('contactNumber')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('contactNumber')?.errors?.['required']">* Phone number is required.</div>
      <div *ngIf="signUpForm.get('contactNumber')?.errors?.['pattern']">* Enter a valid phone number.</div>
      </div>
      </div>

      <!-- Column 2 -->
      <div class="column">
      <!-- Address Line 1 -->
      <label for="addressLine1">Address Line 1:</label>
      <input id="addressLine1" formControlName="addressLine1" class="form-control" />
      <div *ngIf="signUpForm.get('addressLine1')?.errors && signUpForm.get('addressLine1')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('addressLine1')?.errors?.['required']">* Address Line 1 is required.</div>
      <div *ngIf="signUpForm.get('addressLine1')?.errors?.['minlength']">* Minimum length for Address Line 1 is 10 characters.</div>
      </div>

            <!-- Address Line 2 -->
      <label for="addressLine2">Address Line 2:</label>
      <input id="addressLine2" formControlName="addressLine2" class="form-control" />
      <div *ngIf="signUpForm.get('addressLine2')?.errors && signUpForm.get('addressLine2')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('addressLine2')?.errors?.['required']">* Address Line 2 is required.</div>
      <div *ngIf="signUpForm.get('addressLine2')?.errors?.['minlength']">* Minimum length for Address Line 2 is 10 characters.</div>
      </div>

            <!-- Postal Code -->
      <label for="postalCode">Postal Code:</label>
      <input id="postalCode" formControlName="postalCode" class="form-control" />
      <div *ngIf="signUpForm.get('postalCode')?.errors && signUpForm.get('postalCode')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('postalCode')?.errors?.['required']">* Postal code is required.</div>
      <div *ngIf="signUpForm.get('postalCode')?.errors?.['pattern']">* Enter a valid postal code (6 digits).</div>
      </div>

            <!-- Photo Upload -->
      <label for="photo">Upload Photo:</label>


      <div class="photo-field">
            <input id="photo" type="file" (change)="onFileChange($event)" class="form-control" accept=".jpeg,.jpg,.png"/>
            <span class="remove-photo" (click)="removePhoto()">&#x2715;</span>
          </div>
          <div *ngIf="photoError" class="text-danger">
            {{ "* " + photoError }}
          </div>
      </div>

          <!-- Column 3 -->
      <div class="column">
      <!-- Email -->
      <label for="email">Email:</label>
      <input id="email" formControlName="email" class="form-control" />
      <div *ngIf="signUpForm.get('email')?.errors && signUpForm.get('email')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('email')?.errors?.['required']">* Email is required.</div>
      <div *ngIf="signUpForm.get('email')?.errors?.['pattern']">* Enter a valid email address.</div>
      <div *ngIf="signUpForm.get('email')?.errors?.['potentialDuplicate']">* This email address may already be registered. Please try a different one.</div>
      </div>

      <!-- Password -->
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" class="form-control" />
      <div *ngIf="signUpForm.get('password')?.errors && signUpForm.get('password')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('password')?.errors?.['required']">* Password is required.</div>
      <div *ngIf="signUpForm.get('password')?.errors?.['pattern']">* Password must include at least one uppercase letter, one lowercase letter, one number, and one special character</div>
      </div>


      <!-- Confirm Password -->
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" />
      <div *ngIf="signUpForm.get('confirmPassword')?.errors && signUpForm.get('confirmPassword')?.touched" class="text-danger">
      <div *ngIf="signUpForm.get('confirmPassword')?.errors?.['required']">* Confirmation password is required.</div>
      <div *ngIf="signUpForm.get('confirmPassword')?.errors?.['mismatch']" class="text-danger">
            * Passwords do not match.
          </div>       
      </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>

      </div>
      </div>
      <div *ngIf="showPopup" class="popup">
            <div class="popup-content">
                  <div class="popup-header">
                  <h2>{{ popupTitle }}</h2>
                  <span class="close-button" (click)="closePopup()">&times;</span>
                  </div>
                  <div class="popup-body">
                  <p>{{ popupMessage }}</p>
                  </div>
            </div>
            </div>
      </form> 
 