<div class="admin-users-popup">
    <div class="popup-content">
        <div class="popup-header">
            <div class="header-center">
                <h2>Get all Users</h2>
            </div>
            <div class="excel">
                <button class="excelbutton" (click)="exportToExcel()">
                    <img src="assets/images/Excel_icon.png" class="excelImage" >
                    Export Excel
                </button>
                <button class="close-button" (click)="closePopup()">x</button>
            </div>
        </div>

        <div class="user-actions">
            <div class="dropdown">
                <select [(ngModel)]="selectedStatus">
                    <option value="">All Users</option>
                    <option value="active">Active Users</option>
                    <option value="inactive">In Active Users</option>
                    <option value="verified">Email Verified Users</option>
                    <option value="not_verified">Email Not Verified Users</option>
                </select>
            </div>
            <div class="search">
                <button class="searchbutton" (click)="filterUsers()">Search</button>
            </div>
        </div>

        <div class="popup-body">
            <div *ngIf="allUsers && allUsers.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Date of Birth</th>
                            <th>Contact No</th>
                            <th>Added On</th>
                            <th>Updated On</th>
                            <th>Address 1</th>
                            <th>Address 2</th>
                            <th>Postal Code</th>
                            <th>Role</th> 
                            <th>Active</th>
                            <th>Email Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of allUsers">
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.dateOfBirth | date }}</td>
                            <td>{{ user.contactNumber }}</td>
                            <td>{{ user.addedOn | date:'medium' }}</td>
                            <td>{{ user.updatedOn | date:'medium' }}</td>
                            <td>{{ user.addressLine1 }}</td>
                            <td>{{ user.addressLine2 }}</td>
                            <td>{{ user.postalCode }}</td>
                            <td>{{ user.userRole }}</td> 
                            <td>{{ user.active ? 'Yes' : 'No' }}</td>
                            <td>{{ user.emailVerification ? 'Yes' : 'No' }}</td>
                        </tr>  
                    </tbody>
                </table>
            </div>
            <div *ngIf="!allUsers">
                <p>Loading user data...</p>
            </div>
            <div *ngIf="allUsers && allUsers.length === 0">
                <p>No user data available.</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showPopup" class="popup">
    <div class="popup-contents">
          <div class="popup-header">
          <h2>{{ popupTitle }}</h2>
          <span class="close-button" (click)="closePop()">&times;</span>
          </div>
          <div class="popup-body">
          <p>{{ popupMessage }}</p>
          </div>
    </div>
    </div>