<div class="page">
  <app-header [loggedIn]="loggedIn"></app-header>
  <div class="nav">
    <div class="nav-left">
      <a class="menu-link" id="home" [routerLink]="'/home'" routerLinkActive="active">Home</a>
      <a class="menu-link" id="products" [routerLink]="'/products'" routerLinkActive="active">Products</a>
      <a class="menu-link" id="admin" *ngIf="loggedIn && isAdmin" [routerLink]="'/admin'" routerLinkActive="active">Admin</a>
      <a class="menu-link" id="help"  [routerLink]="'/help'" routerLinkActive="active">Help</a>
    </div>
    <div class="nav-right">
      <ng-container *ngIf="!loggedIn">
        <a class="menu-link" id="signIn" [routerLink]="'/signin'"  routerLinkActive="active">Sign In</a>
        <span class="separator">/</span>
        <a class="menu-link" id="signUp" [routerLink]="'/signup'" routerLinkActive="active">Sign Up</a>
      </ng-container>
      <ng-container *ngIf="loggedIn">
        <a class="menu-link" id="profile" [routerLink]="'/profile'" routerLinkActive="active">Profile</a>
        <span class="separator">/</span>
        <a class="menu-link button-link" id="logout" (click)="logout()">Logout</a>
      </ng-container>
    </div>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
